        /*--------------
         font style
         ------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Work+Sans:wght@700&display=swap');


*{
    font-family: 'Work Sans', sans-serif;
    
}
.text-fancy-style{
    color: orange;
}
        /*==============
            nav style
            ============== */
.nav-var{
    padding: 10px 130px;
    display: flex;
    background-color: #fff3e6;
    align-items: center;
    justify-content: space-between;
}
.nav-btn{
    display: flex;
    
}
.nav-btn ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-btn a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
            /*=================
                banner style 
                ================*/
.banner{
    height: 130vh;
    text-align: center;
    background-color: #fff3e6;
    padding: 60px 0px;
}
.banner-title{
    font-size: 40px;
}
.banner-description{
    font-size: 15px;
    color: #727272;
}
        /* ====================
            primary button
         ===================*/
.explore-btn{
    font-size: 15px;
    padding: 15px;
    border-radius: 7px;
    border: 0px;
    background-color: orange;
}
.explore-btn a{
    text-decoration: none;
    color: white;
}
.banner img{
    width: 1100px;
    height: 100%;
    padding-top: 15px;
}
        /* ----------------
        Quick list of Our Features 
                style
            ----------------*/
.team-section{
    display: flex;
    padding: 80px 130px;
    justify-content: space-between;
    align-items: center;
}
.team-title{
    font-size: 40px;
}

.team-description{
    font-size: 15px;
    color: #727272;
}
.team-image img{
    width: 250px;
    height: 250px;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    
}
.team-desc{
   padding-left: 70px;
  
}
    /*----------------------------------- 
        Features you will love & enjoy
                style
    ---------------------------------*/
.person{
    height: 120vh;
    padding: 5px 130px;
    
}
.person-image img{
    width: 550px;
    height: 800px;
}
.person-section{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.person-title-head{
    font-size: 30px;
    border-left: 5px solid red;
    padding-left: 10px;
    
}
.person-description{
    font-size: 12px;
    color: #727272;
}
.person-title{
    font-size:16px ;
}
.person-box{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    padding: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2) ;
    border-radius: 9px;
    
}
        /* ----------------
        dangerous button
        ---------------- */
.year-btn{
    color: white;
    background-color:orange;
    border: none;
    border-radius: 6px;
    padding: 0px 40px;
    padding-bottom: 10px;
    position: absolute;
    top: 382%;
    left: 45%;

}
.year-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
    /*--------------  
        some fact + bonus hover
        style
    ------------------ */
.fact-section{
    padding: 150px 130px 0px 130px;
}
.fact-bottom-move{
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
    text-align: center;
    transition: 1s;

}
.fact-title{
    font-size: 40px;
}
.fact-description{
    font-size: 15px;
    color: #727272;
}
.fact-box{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid orangered;
    cursor: pointer;
    transition: 1s;
}

.fact-bottom-move:hover{
    background:linear-gradient( -45deg,  #ed1c9236 , #ffec1742) ;
    border-radius: 5px;
}

.fact-box:hover{
    background: linear-gradient( -45deg,  #ed1c94 , #ffec17);
    transform:scale(1.3) ;
}

    /*--------------
         sponsor 
         style
     ------------------*/
.sponsor{
    padding: 20px 130px ;
    text-align: center;
}
.sponsor-logo{
    display: flex;
    flex-wrap: wrap;
    filter: grayscale();
    padding: 10px 130px;
    justify-content: space-around;
   

}
    /* ----------------------------------
    project/personal added section style
    ---------------------------------- */
    
.project-name{
    text-align: center;
    color: black;
    font-size: 20px;
}
.projects{
    padding: 20px 130px;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(3 , 1fr);
    
}

.project{
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4) ;
    cursor: pointer;
    transition: 1s;
}
.project:hover{
    background: linear-gradient( 45deg,  rgba(33, 33, 72, 0.708) , rgba(63, 18, 18, 0.394));
     transform: scale(1.1) ;
    z-index: 2;
}
.project img{
    border-radius: 5px;
}
    /*-------------- 
    footer style
    --------------*/
.footer-section{
    padding:50px 130px;
    
}
.footer-content{
    text-align: center;
    background-color: #fff3e6;
    padding: 30px 0px;
}


    /* ---------------------
            responsive 
            media query
   ------------------------*/


@media only screen and (max-width:576px) {
    body, html{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        padding: 0px;
    }
    .team-desc{
        padding: 0px;
    }
    .nav-var ul {
        flex-direction:column;
        
    }
    .nav-var{
        flex-direction: column;
        font-size: 10px;
    }
    .team-section {
        flex-direction: column;
        padding: 0px 10px;
        
    }
    .team-image{
        grid-template-columns: repeat(1,1fr);
    }
    .person-section{
        flex-direction: column;
        
    }
    .person{
        padding: 0px 20px;
    }
    .person-image img{
        width: 400px;
        height: 400px;
        }
     .person-right{
        padding-left: 50px;
     } 
    .year-btn{
        position: relative;
       left:130px
    }
    .year-btn h1{
        font-size: 12px;
    }
    .year-btn-second{
        font-size: 5px;
    }
    .fact-bottom-move{
        grid-template-columns: repeat(1,1fr);
    }
   .banner{
    width: 100%;
    height: 100%;
   }
   .banner-image img{
    width: 550px;
    height: 550px;
    
   }
   
    .projects{
    grid-template-columns: repeat(1,1fr);
    padding: 30px 60px;
}

}